<h1>Registration#show</h1>
<p>Please submit your phone number to confirm identity</p>

<%= form_with scope: :user, local: true, url: registrations_path do |form| %>
  <p>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </p>

  <p>
    <%= form.submit 'Confirm number' %>
  </p>
<% end %>