<h1>Confirmations#show</h1>
<p>Find me in app/views/confirmations/show.html.erb</p>

<%= form_with scope: :confirmation, local: true, url: confirmations_path do |form| %>
  <%= form.hidden_field :phone, value: phone %>
  <p>
    <%= form.label :token %><br>
    <%= form.text_field :token %>
  </p>

  <p>
    <%= form.submit 'Confirm token' %>
  </p>
<% end %>
